$color: #7198f3;
$padding: 30px;
$border: 3px solid #dcdcdc;
section {
  .detail {
    padding: $padding;
    .title {
      color: $color;
      font-size: 20px;
      font-weight: 500;
    }
    .userType {
      padding: 5px 30px;
      color: $color;
      .mat-radio-group {
        display: flex;
        gap: 100px;
        width: 100%;
        font-size: 20px;

        ::ng-deep {
          .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
            border-color: rgb(66, 134, 244);
          }

          .mat-radio-button.mat-accent .mat-radio-inner-circle {
            color: rgb(66, 134, 244);
            background-color: rgb(66, 134, 244);
          }
        }
      }
      .inputField {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        label{
          font-size: 20px;
        }
        ::ng-deep {
          .mat-form-field-appearance-outline .mat-form-field-outline {
            color: $color;
          }
        }
        .mat-form-field {
          width: 700px;
          .mat-hint,
          input,
          ::placeholder,
          .mat-form-field-label {
            color: $color;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }
    .btn{
      display: flex;
      margin:5% 0% 0% 15%;
      #sendBtn{
        width: 300px;
        padding: 10px;
        background-color: $color;
        color: #fff;
        font-size: 20px;
      }
    }
  }
}
