<section>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Who we are">
      <div class="content">
        <app-who-we-are></app-who-we-are>
      </div>
    </mat-tab>
    <mat-tab label="Terms & conditions">
      <div class="content">
        <app-term-and-condition></app-term-and-condition>
      </div>
    </mat-tab>
    <mat-tab label="FAQs">
      <div class="content">
        <app-faq></app-faq>
      </div>
    </mat-tab>
    <mat-tab label="About us">
      <div class="content">
        <app-about></app-about>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
