<section>
  <main>

    <div class="information" *ngIf="!toReset">
      <div class="sign-in-to-admin">
        <h1>Forgot your Password?</h1>
      </div>
      <div class="enter-details">
        <h3>We'll help you reset it and get back on track </h3>
      </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- <label>Email</label> -->
      <ng-container *ngIf="!toReset" >
      <mat-form-field appearance="outline">
          <input matInput formControlName="email" placeholder="Email Address" required>
          <mat-error *ngIf="loginForm?.controls?.email?.errors?.required">*Email is required</mat-error>
          <mat-error *ngIf="loginForm?.controls?.email?.errors?.email">*Enter correct email</mat-error>
      </mat-form-field>
      <div class="error-message" *ngIf="errorType">
        <div class="icon">
          <mat-icon>warning</mat-icon>
      </div>
      <div class="message">
        <p *ngIf="errorType">Please enter registered email address.</p>
        <p *ngIf="!errorType">could not find any account associated with the email address.</p>
        <p *ngIf="!errorType">Email address & password do not match.</p>
      </div>
      </div>
        <div class="login">
           <button type="submit" mat-raised-button color="primary"> <ng-container *ngIf="!spinner">Reset password</ng-container> <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner></button>
       </div>
      </ng-container>
       <div class="information" *ngIf="toReset">
        <h1>Reset Link</h1>
        <h4 >An email has been sent to your registered email ID. <br> Please Follow the instruction to reset your <br> password</h4>
        <div class="login">
          <button  (click)="backToLogin()" mat-raised-button color="primary"> <ng-container *ngIf="!spinner">Back to Login</ng-container> <mat-spinner [diameter]="40" *ngIf="spinner"></mat-spinner></button>

        </div>
      </div>
    </form>

  </main>

</section>
