<section>
  <div class="inputFilters">
    <div class="searchFilter">
      <mat-form-field appearance="outline" class="field1">
        <a class="searchIcon">
          <mat-icon matPrefix>search</mat-icon>
        </a>
        <mat-label>Search by Question,Answer content...</mat-label>
        <input matInput placeholder="Search by First Name" class="hold1" />
      </mat-form-field>
    </div>
    <div class="status">
      <label>Status</label>
      <mat-form-field appearance="outline" class="field3">
        <mat-select matNativeControl placeholder="Select">
          <mat-option value="">Active</mat-option>
          <mat-option value="">Inactive</mat-option>
        </mat-select> </mat-form-field
      >&nbsp;
    </div>
  </div>
  <div class="subHeader">
    <h3 class="title">FAQs</h3>
    <a (click)="toAddFAQs()">
      <h3 class="title righttitle">Add FAQs</h3>
    </a>
  </div>
  <div class="content">
    <!-- <div class="statusBox">
      <div class="contentStatus">
        <div class="dateTime">
          <p class="addedStatus">Added On</p>
          <h4 class="tymingStatus">07/07/2021; 06:30PM</h4>
        </div>
        <div class="icon">
          <mat-icon>block</mat-icon>
          <mat-icon>create</mat-icon>
          <mat-icon>delete_outline</mat-icon>
          <h4 class="statusText">Active</h4>
        </div>
      </div>
      <hr class="border" />
      <div class="faq question">
        <textarea name="" id="" cols="30" rows="1">

          Q.How secure Is Information about me?
          Mars is the fourth planet from the Sun and the second-smallest planet
          in the Solar System, being larger than only Mercury.. Mars is the
          fourth planet from the Sun and the second-smallest planet in the Solar
          System, being larger than only Mercury. Mars is the fourth planet from
          the Sun and the second-smallest planet in the Solar System,being
          larger than only Mercury.. Mars is the fourth planet from the Sun and
          the second-smallest planet in the Solar System, being larger than only
          Mercury.Mars is the fourth planet from the Sun and the secondsmallest
          planet in the Solar System, being larger than only Mercury.
        </textarea>
      </div>
    </div> -->
    <div class="statusBox">
      <div class="contentStatus">
        <div class="dateTime">
          <p class="addedStatus">Added On</p>
          <h4 class="tymingStatus">07/07/2021; 06:30PM</h4>
        </div>
        <div class="icon">
          <mat-icon>block</mat-icon>
          <mat-icon>create</mat-icon>
          <mat-icon>delete_outline</mat-icon>
          <h4 class="statusText">Active</h4>
        </div>
      </div>
      <hr class="border" />
      <div class="faq question">
        <p class="question">Q. How secure Is Information about me?</p>
        <p class="answer">
          Mars is the fourth planet from the Sun and the second-smallest planet
          in the Solar System, being larger than only Mercury.. Mars is the
          fourth planet from the Sun and the second-smallest planet in the Solar
          System, being larger than only Mercury. Mars is the fourth planet from
          the Sun and the second-smallest planet in the Solar System,being
          larger than only Mercury.. Mars is the fourth planet from the Sun and
          the second-smallest planet in the Solar System, being larger than only
          Mercury.Mars is the fourth planet from the Sun and the secondsmallest
          planet in the Solar System, being larger than only Mercury.
        </p>
      </div>
    </div>
    <div class="statusBox">
      <div class="contentStatus">
        <div class="dateTime">
          <p class="addedStatus">Added On</p>
          <h4 class="tymingStatus">07/07/2021; 06:30PM</h4>
        </div>
        <div class="icon">
          <mat-icon>block</mat-icon>
          <mat-icon>create</mat-icon>
          <mat-icon>delete_outline</mat-icon>
          <h4 class="statusText">Active</h4>
        </div>
      </div>
      <hr class="border" />
      <div class="faq question">
        <p class="question">Q. How secure Is Information about me?</p>
        <p class="answer">
          Mars is the fourth planet from the Sun and the second-smallest planet
          in the Solar System, being larger than only Mercury.. Mars is the
          fourth planet from the Sun and the second-smallest planet in the Solar
          System, being larger than only Mercury. Mars is the fourth planet from
          the Sun and the second-smallest planet in the Solar System,being
          larger than only Mercury.. Mars is the fourth planet from the Sun and
          the second-smallest planet in the Solar System, being larger than only
          Mercury.Mars is the fourth planet from the Sun and the secondsmallest
          planet in the Solar System, being larger than only Mercury.
        </p>
      </div>
    </div>
    <div class="statusBox">
      <div class="contentStatus">
        <div class="dateTime">
          <p class="addedStatus">Added On</p>
          <h4 class="tymingStatus">07/07/2021; 06:30PM</h4>
        </div>
        <div class="icon">
          <mat-icon>block</mat-icon>
          <mat-icon>create</mat-icon>
          <mat-icon>delete_outline</mat-icon>
          <h4 class="statusText">Active</h4>
        </div>
      </div>
      <hr class="border" />
      <div class="faq question">
        <p class="question">Q. How secure Is Information about me?</p>
        <p class="answer">
          Mars is the fourth planet from the Sun and the second-smallest planet
          in the Solar System, being larger than only Mercury.. Mars is the
          fourth planet from the Sun and the second-smallest planet in the Solar
          System, being larger than only Mercury. Mars is the fourth planet from
          the Sun and the second-smallest planet in the Solar System,being
          larger than only Mercury.. Mars is the fourth planet from the Sun and
          the second-smallest planet in the Solar System, being larger than only
          Mercury.Mars is the fourth planet from the Sun and the secondsmallest
          planet in the Solar System, being larger than only Mercury.
        </p>
      </div>
    </div>
  </div>
</section>
