<section>
  <div class="subHeader">
    <h3 class="title">About us</h3>
    <mat-icon class="penIcon" (click)="disableTextArea=!disableTextArea">create</mat-icon>
  </div>
  <div class="content">
    <textarea [readonly]="disableTextArea">
      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth
      planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun
      and the second-smallest planet in the Solar System,being larger than only Mercury.. Mars is the fourth planet from the Sun and the
      second-smallest planet in the Solar System, being larger than only Mercury.Mars is the fourth planet from the Sun and the secondsmallest planet
      in the Solar System, being larger than only Mercury.

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth
      planet from the Sun Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury..

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth
      planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth planet from the Sun
      and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth
      planet from the Sun Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury..

      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth
      planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth planet from the Sun
      and the second-smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second


      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.. Mars is the fourth
      smallest planet in the Solar System, being larger than only Mercury. Mars is the fourth planet from the Sun and the second-smallest planet in
    </textarea>
  </div>
</section>
