$color: #8186f7;

section {

  height: 100%;
  color: $color;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;

  main {
    width: 80%;

    .information {
      @media only screen and (max-width: 600px) {
      width: 100%;
      }
      h1 {
        font-weight: 400;
        line-height: 50px;
        font-size: 45px;
      }

      h3 {
        font-weight: 300;
        line-height: 50px;
        font-size: 30px;
      }

      h4 {
        font-weight: 100;
        line-height: 30px;
        font-size: 25px;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 500;
      }

      ::ng-deep {
        .mat-form-field-appearance-outline .mat-form-field-outline {
          color: $color;
        }

        .mat-form-field {
          width: 90%;

          .mat-hint,
          input,
          ::placeholder,
          .mat-form-field-label {
            color: $color;
          }
        }



        .mat-progress-spinner circle,
        .mat-spinner circle {
          stroke: white;
        }
      }

      .forget-password {
        display: flex;
        justify-content: flex-end;
        margin-right: 9%;
      }

      .error-message {
        display: flex;
        justify-content: center;
        color: red;

        .mat-icon {
          background-color: transparent;
        }
      }

      .check-box {
        margin: 5% 0;
      }

      .login {
        margin-top: 10%;
        text-align: center;

        button {
          // width: 50%;
          padding: 15px 47px;
          font-size: 24px;
          color: #ffff;
          background-color: $color;
          border: 1px solid #464bb4;
        }
      }


    }
  }
}
